/*
 * Globals
 */
 /* Links */

 
 /* Custom default button */
 .btn-secondary,
 .btn-secondary:hover,
 .btn-secondary:focus {
   color: rgb(0, 0, 0);
   text-shadow: none; /* Prevent inheritance from `body` */
   background-color: #F3E2A7;
 }
 
 html {
   scroll-behavior: smooth;
 }
 
 /*
  * Base structure
  */
 
  .containerTrombi img {
    margin-top: 8px;
    vertical-align: middle;
    width: 65%;
    margin-bottom: 5px;
    opacity: 1;
    transition: .6s ease;
  }
  
  .containerTrombi img:hover {
    opacity: .4;
  }
  
  .gallery-image {
    position: relative;
    text-align: center;
    font-weight: 700;
    top: 10%;
  }
  
  .text {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .6s ease;
  }
  
  .gallery-image:hover .text {
    opacity: 1;
  }
  
  .text:hover .img {
    opacity: 1;
  }

  html,body {
    background-color: #F3E2A7;
    color: #000;
  }

  #IdVideos{
    background-image: url("../img/groupe.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #IdVideos{
    background-image: url("../img/groupe.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }


 .cover-body {
   /*display: flex;*/
   text-shadow: 0 .05rem .1rem #5A3400;
 }
 
 
 
 /*
  * Header
  */
 
 
 .navbar {
   margin-bottom: 2rem;
   margin-top: -3rem;
   background-color: #5A3400;
 }
 
 .navbar-brand {
   margin-bottom: 0;
 }
 
 .nav-link {
   font-weight: 700;
   opacity: 0.7;
   font-size: 22px;
 }
 
 
 .nav-link:hover,
 .active .nav-link,
 .nav .active {
   opacity: 1;
 }
 
 .dropdown-menu{
   background-color: #5A3400;
 
 }
 
 .dropdown-item{
   opacity: 0.7;
 }
 
 .dropdown-item:hover{
   background-color: unset;
   opacity: 1;
 }
 
 
 
 .logo{
   width: 10%;
 }
 
 /*
  * Cover
  */
 
 
 .cover .btn-lg {
   font-weight: 700;
 }
 
 @keyframes down{
   0% {position:relative; top:-30px; opacity: 0.5}
   50% {position:relative; top:-15px; opacity: 0.8}
   100% {position:relative; top:0px; opacity: 1}
 
 }
 
 
 .hero-fleche {
   animation: down 1s infinite linear alternate;
 
 }
 
 .hero-fleche a:hover{
   text-decoration: none;
 }
 
 .toppages{
   height: 40vh;
   background: url('./img/banniere.jpg') fixed no-repeat center; 
   background-size: cover;
   text-shadow: 4px 4px 4px #5A3400;
 }
 
 .toppages h1 {
   font-size: 4rem;
 }
 
 
 
 
 /*  Cards  */

 
 .card-header{
  background-color: #5A3400;
 }

 .card-deck{
   background-color: inherit;
   
 }
 
 .card{
   transition: .2s transform;
   cursor: pointer;
 }
 
 
 .card-body{
   opacity: 0.7;
 }
 
 .card-body:hover{
   opacity: 1;
 }
 .card:hover{
 opacity: 1;
 box-shadow: 8px 10px 20px #5A3400;
 transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
 
 
 .bg-1{
   background-color: #f1d983;
 }
 
 .bg-2{
   background-color: #f1d983;
 }
 
 .bg-3{
   background-color: #e4ba6d ;
 }
 
 .bg-4{
   background-color: #e4ba6d;
 }
 
 
 /* 
  * Content
  */
 
 p{
   text-align: justify;
 }
 
 
 #page hr{
   opacity: 0.3;
 }
 
 #aprem img,
 #dej .imgs-dej{
   height: 100%;
 }
 
 
  #Programme h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .TrombiRow{
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .TextTitleAccueil{
    margin-top: 100px;
    font-size: 40px;
  }

  .containerTrombi img:hover /* fade out on hover */ {
    opacity:10%;
  }
 
 #Programme h2{
   color: black;
 }
 
 /*
  * Footer
  */
 .footPage {
   color: #000;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
 }
 
 .footPage p{
   min-width: 0px;
   color: #000;
 }
 
 .content{
   text-align: justify;
 }
 
 .form-check-input{
   position: relative; 
   top : 50%;
 }
 

 .presentation:hover + .plus,
 .plus:hover{
   display: block;
   position: absolute;
   top: 50%;
   background-color: #5A3400;
   padding: 1rem;
   transform: translate(-50%, -30%);
   cursor: pointer;
 }
 
 
 
 
 #Programme h2{
   font-size: 45px;
 }
 #Programme h3{
   font-size: 35px;
 }
 #Programme h1{
   font-size: 65px;
 }
 
 #Programme p, 
 #Programme li{
   font-size: 20px;
 }
 
 

.ImgProgramme{
  width: 80%;
  height: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.TextTitleProgramme{
  position:relative;
  top: 100px;
  margin-bottom: 50px;
  font-size: 50px;

}


.TextTitleVideo{
  position:relative;
  top: 30px;
  margin-bottom: 50px;
  font-size: 50px;
  color:white;
}

.TextTitleEvenements{
  position:relative;
  top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
}

.ImgEvenements{
  height: 100%;
  top: -100px;
  margin-bottom: 100px;

}

.TextTitleSponsors{
  position:relative;
  top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
}
.ContainerSponsors{
  align-self: center;
  position:relative;
  top: 100px;
  left: 0%;

}
.ContainerSponsors .container{
  margin-bottom: 100px;
}

#over {
  background-image: url("../images/iphone5_hollow_750x380.png");
  background-repeat: no-repeat;
  height: 380px;
  width: 750px;
  margin: 0 auto 30px;
  position: relative;
}
.iframe {
  position: absolute;
  top: 10%;
  left: 20%;
}

.VideoContainer{
  background-image: url("../img/television.png");
  width: 900px;
  height: 560px;
}
.ImgTelevision{
  position:absolute;
  top: 10px;
  width: 860px;
  height: 520px;
}

.fa {
  font-size: 28px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 4px;
}


.LogoImageInactive img{
  visibility: hidden;
  width: 10px;
}
.LogoImageActive img{
  visibility: visible;
}
.ClassNavbar a{
  font-size: 20px;
}
.TitreImage{
  position:relative;
}

.NavIcons{
  position: relative;
  margin-left: 35px;
  margin-top: 5px;
  width: 200px;
  left: 50px;
}

.NavIconsInit{
  position: relative;
  margin-left: 0px;
  width: 100px;
  left: 50px;
}
#navbarSupportedContent{
  left: -20px;
}
.navbar-nav{
  align-items: center;
}
.PhotoTrombiImp{
  top: 30%;
  left: 20%;
}
.PhotoTrombi{
  top: 30%;
}

h2{
  font-family: 'Fedora';
}
@media (min-width: 1px) and (max-width: 1500px) {
  
  .DivPersonneImpTrombiVP{
    margin-left: 0px;
  }

  .ContainerSponsors{
    left: 0%;
  }

  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .NavIcons{
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
    width: 20px;
    left: 0px;
  }

  .NavIconsInit{
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
    width: 200px;
    left: 0px;
  }
}

.side-menu {
  width: 20%;
}

.dashboard {
  width: 80%;
}

@media (min-width: 1500px) {
  .side-menu {
    width: 100%
  }
}







